body {
  margin: 0;
}

#canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  margin: 0 auto;
  z-index: -1;
}

/*-------------------------------------
| General
-------------------------------------*/
.row {
  margin-left: 5%;
}

ul {
  list-style: none;
}

canvas {
  padding: 2%;
}

.rookie {
  margin: auto;
  text-align: center;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
/*-------------------------------------
| banner
-------------------------------------*/
.banner {
  width: 100%;
  height: 100%;
}
.banner img {
  width: 100%;
}

/*-------------------------------------
| Card
-------------------------------------*/

.card-container {
  perspective: 500;
}

.card {
  margin: 20px;
  width: 300px;
  height: 400px;
  transition: all .9s ease-in;
  transform-style: preserve-3d;
  color: white;
  text-align: center;
  position: relative;
  background-color: inherit;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  background: #562482;
  width: 300px;
  height: 400px;
}

.back {
  transform: rotateY(180deg);
  display: flex;
}

.card:hover {
  transform: rotateY(180deg);
}

.front img {
  margin-top: 20px;
}

.front p {
  margin-bottom: 0;
}

.card-text {
  font-size: 1rem;
}

.rookie {
  justify-content: center;
  align-items: center;
}
